html {
  font-size: 0.625em;
}

body {
  font-size: 1rem;
  font-family: "Noto Serif KR", serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}
div {
  /* 루트 사이즈 보다 작아지지 않음 */
  font-size: 4px;
}

p {
  line-height: 1.5;
}
